<html>
	<head></head>
	<body>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!'> 
		</form>		

		<h1 id='board'>	<%= board %> </h1>

		<h2 id='guessed_letters'> <%= guessed %> </h2>

		<h3 id='remaining_guessses'> You have <%= guesses %> remaining </h3>

		<h3 id='message'> <%= message %> </h3>

	</body>	
</html>