<html>
	<head></head>
	<body>

		<h1> <%= board %> </h1>
		
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!'> 
		</form>

		<h3> You have <%= guesses %> remaining </h3>

		<h3> <%= message %> </h3>
		
	</body>	
</html>