<html>
	<head></head>
	<body>

		<h1> <%= board.upcase %> </h1>

		<h3> Guessed Letters: </h3>
		<h3> <%= guessed.upcase %> </h3>
		
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!'> 
		</form>

		<h3> You have <%= guesses %> remaining </h3>

		<h3> <%= message %> </h3>
		
	</body>	
</html>